In [1]:
pip install pandas

Requirement already satisfied: pandas in /Users/av/jupyter-env/lib/python3.13/site-packages (2.3.0)
Requirement already satisfied: numpy>=1.26.0 in /Users/av/jupyter-env/lib/python3.13/site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/av/jupyter-env/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/av/jupyter-env/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/av/jupyter-env/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/av/jupyter-env/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [30]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/av/jupyter-env/lib/python3.13/site-packages (2.0.41)
Requirement already satisfied: greenlet>=1 in /Users/av/jupyter-env/lib/python3.13/site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/av/jupyter-env/lib/python3.13/site-packages (from sqlalchemy) (4.13.2)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [35]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/av/jupyter-env/lib/python3.13/site-packages (2.9.10)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [39]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [40]:
movies_df = pd.read_csv("SOURCE DATA/netflix_movies.csv")

In [41]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie_id      50 non-null     int64
 1   title         50 non-null     object
 2   genre         50 non-null     object
 3   release_year  50 non-null     int64
dtypes: int64(2), object(2)
memory usage: 1.7+ KB

In [42]:
movies_df.head()

   movie_id                      title     genre  release_year
0         1            Number Congress    Action          2017
1         2  Employee behavior account  Thriller          2005
2         3         Window around that   Romance          1982
3         4                Wide agency    Comedy          1993
4         5               Rather agree     Drama          2019

In [43]:
movies_df.isnull().sum()

movie_id        0
title           0
genre           0
release_year    0
dtype: int64

In [44]:
movies_df.drop_duplicates(inplace=True)

In [45]:
movies_df.count()

movie_id        50
title           50
genre           50
release_year    50
dtype: int64

In [46]:
ratings_df = pd.read_csv("SOURCE DATA/netflix_ratings.csv")

In [47]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   rating_id  50 non-null     int64
 1   user_id    50 non-null     int64
 2   movie_id   50 non-null     int64
 3   rating     50 non-null     int64
 4   rated_at   50 non-null     object
dtypes: int64(4), object(1)
memory usage: 2.1+ KB

In [48]:
ratings_df.isnull().sum()

rating_id    0
user_id      0
movie_id     0
rating       0
rated_at     0
dtype: int64

In [49]:
ratings_df.drop_duplicates(inplace=True)

In [50]:
ratings_df.count()

rating_id    50
user_id      50
movie_id     50
rating       50
rated_at     50
dtype: int64

In [51]:
ratings_df.head()

   rating_id  user_id  movie_id  rating             rated_at
0          1       13        11       3  2025-03-17 02:43:02
1          2       44        20       5  2024-09-26 15:57:16
2          3       47         6       5  2025-04-29 08:08:54
3          4        5        38       5  2023-10-18 05:01:15
4          5       29        23       3  2024-08-09 10:30:36

In [52]:
users_df = pd.read_csv("SOURCE DATA/netflix_users.csv")

In [53]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_id    50 non-null     int64
 1   name       50 non-null     object
 2   email      50 non-null     object
 3   plan_type  50 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.7+ KB

In [54]:
users_df.isnull().sum()

user_id      0
name         0
email        0
plan_type    0
dtype: int64

In [55]:
users_df.drop_duplicates(inplace=True)

In [56]:
users_df.count()

user_id      50
name         50
email        50
plan_type    50
dtype: int64

In [57]:
users_df.head()

   user_id             name                   email plan_type
0        1  Heather Patrick      peggy79@martin.org     Basic
1        2   Michael Bailey       eddie46@yahoo.com  Standard
2        3        Amy Burns   foliver@gallagher.com     Basic
3        4       Cody Estes  allenerika@hotmail.com   Premium
4        5  Richard Schultz      tmerritt@gmail.com     Basic

In [58]:
watch_history_df = pd.read_csv("SOURCE DATA/netflix_watch_history.csv")

In [59]:
watch_history_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   history_id  50 non-null     int64
 1   user_id     50 non-null     int64
 2   movie_id    50 non-null     int64
 3   watched_at  50 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.7+ KB

In [60]:
watch_history_df.isnull().sum()

history_id    0
user_id       0
movie_id      0
watched_at    0
dtype: int64

In [61]:
watch_history_df.drop_duplicates(inplace=True)

In [62]:
watch_history_df.count()

history_id    50
user_id       50
movie_id      50
watched_at    50
dtype: int64

In [63]:
watch_history_df.head()

   history_id  user_id  movie_id           watched_at
0           1       23        21  2025-04-05 06:20:02
1           2       34        18  2024-03-01 14:16:32
2           3       39        29  2024-12-19 09:14:42
3           4        8        47  2024-03-26 05:58:02
4           5       15         1  2023-12-22 00:20:47

In [12]:
try:
    connection = psycopg2.connect(dbname="netflix_database", user='postgres', password='postgres', port='5432')
except:
    print("connection failed")

In [13]:
cursor = connection.cursor()

In [24]:
cursor.execute("""
CREATE TABLE Movies (
    movie_id SERIAL PRIMARY KEY,
    title TEXT NOT NULL,
    genre VARCHAR(50),
    release_year INTEGER
);
""")

In [23]:
connection.rollback()

In [25]:
connection.commit()

In [26]:
cursor.execute("""
CREATE TABLE users (
    user_id SERIAL PRIMARY KEY,
    name VARCHAR(50) NOT NULL,
    email VARCHAR(100) UNIQUE NOT NULL,
    plan_type VARCHAR(20) CHECK (plan_type IN ('Basic', 'Standard', 'Premium'))
);
""")

In [27]:
cursor.execute("""
CREATE TABLE WatchHistory (
    history_id SERIAL PRIMARY KEY,
    user_id INTEGER REFERENCES Users(user_id),
    movie_id INTEGER REFERENCES Movies(movie_id),
    watched_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
""")

In [28]:
cursor.execute("""
CREATE TABLE Ratings (
    rating_id SERIAL PRIMARY KEY,
    user_id INTEGER REFERENCES Users(user_id),
    movie_id INTEGER REFERENCES Movies(movie_id),
    rating INTEGER CHECK (rating BETWEEN 1 AND 5),
    rated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
""")

In [29]:
connection.commit()

In [33]:
engine = create_engine('postgresql+psycopg2://postgres:postgres@localhost/netflix_database')

In [35]:
movies_df.to_sql('movies', con=engine, if_exists='append', index=False)

50

In [64]:
users_df.to_sql('users', con=engine, if_exists='append', index=False)

50

In [65]:
ratings_df.to_sql('ratings', con=engine, if_exists='append', index=False)

50

In [66]:
watch_history_df.to_sql('watchhistory', con=engine, if_exists='append', index=False)

50